body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-weight: 900;
}

.nav1 {
  background-color: rgba(0, 0, 0, 0);
}

.nav1 a {
  color: white !important;
  font-weight: 900;
  font-size: 18px;
}

.nav1 a:hover {
  color: gold !important;
}

.nav-title {
  margin-left: 18vw;
  font-size: 24px;
  letter-spacing: 2px;
}

.btn {
  background-color: #f5bab0;
}

.btn1 {
  background-color: #f5bab0;
  color: white;
}

.para {
  position: relative;
  width: 65%;
  color: white;
}

.welcome {
  color: black;
  box-shadow: 2px 6px 6px 6px #d3d2d2;
}

.project-div img {
  padding: 5px;
}

.project-div .card {
  width: 330px;
}

.project-div .row {
  display: flex !important;
  justify-content: center !important;
}
.cb img {
  background-color: white;
  border-radius: 100%;
  /* margin-left: 30px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cb2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card1 .card1 .card2 {
  display: flex !important;
  justify-content: center !important;
}

.card2 {
  border-radius: 0;
}

.card2:hover {
  transform: scale(1.02);
  /* box-shadow: 0 0 20px #a4cad9; */
  background-color: #f2f2f2;
}

.card1 {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.card1:hover {
  color: #111;
  background: #efe9ec;
}

.col {
  position: relative;
}

.team img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: 18px;
}

.hov-img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.hov-me {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col:hover .hov-img {
  opacity: 0.2;
}

.col:hover .hov-me {
  opacity: 1;
}

.hov-me h2 {
  color: #00adc8;
  font-size: 35px;
}

.location iframe {
  margin: 20px;
  width: 90%;
  height: 95%;
}

.contc {
  display: flex !important;
  justify-content: center !important;
}

.form1 {
  box-shadow: 2px 6px 6px 6px #888;
  background-color: #efe9ec;
}

.footer {
  background-color: #f5f5f5;
  display: flex !important;
  justify-content: center !important;
}

.table1 a {
  text-decoration: none !important;
  color: #111;
  margin: 5px;
}

table,
th,
td {
  padding: 15px;
  width: 60%;
}
table {
  border-spacing: 10px;
}
